<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4">
      <div class="box-border">
        <h4 class="mt-4">
          <span class="maker">買うものリスト追加</span>
        </h4>
        <div class="form-group p-3">
          <%= form_with model: @shopping_list do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.text_field :name, placeholder: "かうもの", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.submit "登録", class: "btn btn-primary btn-block" %></td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>

        <h4 class="mt-4">
          <span class="maker">やることリスト追加</span>
        </h4>
        <div class="form-group p-3">
          <%= form_with model: @todo_list do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.text_field :name, placeholder: "やること", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.date_field :start_date, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.submit "登録", class: "btn btn-primary btn-block" %></td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8 box-border">
      <div class="row h-100">
        <div class="shopping_list col-6 px-5">
          <h4 class="mt-4 text-center">
            <span class="maker">買うものリスト</span>
          </h4>
          <table class="table table-borderless mt-4">
            <tbody>
              <% @shopping_lists.each do |shopping_list| %>
              <tr>
                <td><%= shopping_list.name %></td>
                <!--<td>-->
                <!--  <%#= form_with model: @stock do |f| %>-->
                <!--    <%#= f.hidden_field :name, :value => shopping_list.name %>-->
                <!--    <%#= f.submit "購入", class: "btn btn-primary btn-sm" %>-->
                <!--  <%# end %>-->
                <!--</td>-->
                <td>
                  <%= link_to shopping_list_path(shopping_list.id), method: :delete, class: "destroy-btn" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="todo_list col-6 px-5">
          <h4 class="mt-4 text-center">
            <span class="maker">やることリスト</span>
          </h4>
          <table class="table table-borderless mt-4">
            <tbody>
              <% @todo_lists.each do |todo_list| %>
              <tr>
                <td><%= todo_list.start_date.strftime("%m/%d") %></td>
                <td><%= todo_list.name %></td>
                <td>
                  <%= form_with model: @todo_list, method: :patch do |f| %>
                    <%= f.hidden_field :complete_switch, :value => true %>
                    <%= f.submit "完了", class: "btn btn-sm btn-info" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to todo_list_path(todo_list.id), method: :delete, class: "destroy-btn" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>