<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4 border_sketch">
      <h4 class="headline">買うものリスト追加</h4>
      <div class="form-group p-3">
        <%= form_with model: @shopping_list do |f| %>
          <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
          <%= f.submit "登録", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
      <h4 class="headline">やることリスト追加</h4>
        <div class="form-group p-3">
        <%= form_with model: @todo_list do |f| %>
          <%= f.text_field :name, placeholder: "ToDo", class: "form-control" %>
          <%= f.date_field :start_date, class: "form-control" %>
          <%= f.submit "登録", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
    <div class="col-8 border_sketch">
      <div class="shopping_list">
        <h4 class="headline">買うものリスト</h4>
        <% @shopping_lists.each do |shopping_list| %>
          <%= shopping_list.name %>
        <% end %>
      </div>
      <div class="todo_list">
        <h4 class="headline">やることリスト</h4>
        <% @todo_lists.each do |todo_list| %>
          <%= todo_list.name %>
        <% end %>

      </div>




    </div>
  </div>
</div>