<div class="container">
  <div class="row my-3">
    <div class="col-8 mx-auto">
      <h2>
        <span class="maker">Sign up</span>
      </h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-8 mx-auto">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions text-center mt-2">
        <%= f.submit "新規登録", class: "btn btn-primary px-5" %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-8 mx-auto">
      <h5>
        <span class="maker">既に登録済みの方</span>
      </h5>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-8 mx-auto">
      <p>
        <u><%= link_to "こちら", user_session_path %></u>　からログインしてください。
      </p>
    </div>
  </div>

</div>