<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-md-4">
      <div class="box-border">
        <h4 class="mt-md-4">
          <span class="maker">在庫登録</span>
        </h4>
        <div class="form-group p-lg-3">
          <%= form_with model: @stock do |f| %>
          <div class="form-item">
            <table class="table table-borderless mb-0">
              <tbody>
                <tr>
                  <td colspan="2">
                    <%= f.text_field :name, placeholder: "商品名", class: "form-control", id: "inputparam" %>
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap">購入数</td>
                  <td>
                    <%= f.hidden_field :percentage, :value => 100 %>
                    <%= f.number_field :stock_amount, class: "form-control form-control-sm", value: 1, min: 1 %>
                  </td>
                </tr>
                <tr>
                  <td>購入日</td>
                  <td>
                    <%= f.date_field :purchase_date, class: "form-control form-control-sm", value: Date.current.strftime("%Y-%m-%d") %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <%= f.select :category, Stock.categories.keys.map {|k| [I18n.t("enums.stock.category.#{k}"), k]}.to_h, { selected: Stock.categories.key(99) }, { class: "form-control custom-select" } %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-item">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td colspan="2">
                    <アラート設定>
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= f.radio_button :alert_setting, 2 %>
                    <%= f.label :alert_setting, "2日後", value: 2 %><br>
                    <%= f.radio_button :alert_setting, 7 %>
                    <%= f.label :alert_setting, "1週間後", value: 7 %><br>
                    <%= f.radio_button :alert_setting, 14 %>
                    <%= f.label :alert_setting, "2週間後", value: 14 %><br>
                  </td>
                  <td>
                    <%= f.radio_button :alert_setting, 21 %>
                    <%= f.label :alert_setting, "3週間後", value: 21 %><br>
                    <%= f.radio_button :alert_setting, 28 %>
                    <%= f.label :alert_setting, "4週間後", value: 28 %><br>
                    <%= f.radio_button :alert_setting, 0 %>
                    <%= f.label :alert_setting, "設定なし", value: 0 %><br>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <% end %>
        </div>
        <script>
          function getUrlParam(name){
            var pageUrl = window.location.search.substring(1);
            var urlVar = pageUrl.split('&');
            for (var i = 0; i < urlVar.length; i++){
                var paramName = urlVar[i].split('=');
                if (paramName[0] == name) {
                    return decodeURI(paramName[1]);        }
            }
          }
          var param = getUrlParam('name');
          if(!(param == null || param == '')){
            document.getElementById("inputparam").value = param;
          }
        </script>
      </div>
    </div>

    <div class="stock-all col-md-8 px-lg-5 px-4 box-border">
      <div class="tab-area mt-3">
        <ul class="nav nav-tabs navbar-dark flex-nowrap" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" href="#home" data-toggle="tab">全て</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="meats_fish-tab" href="#meats_fish" data-toggle="tab">肉/魚</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="vegetables-tab" href="#vegetables" data-toggle="tab">野菜</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="spices-tab" href="#spices" data-toggle="tab">調味料</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="other_food-tab" href="#other_food" data-toggle="tab">他食品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="drink-tab" href="#drink" data-toggle="tab">飲料</a>
          </li>
          <li class="nav-item dropdown" style="position:static">
            <a class="nav-link px-2 dropdown-toggle" data-toggle="dropdown" href="#">
              消耗品
            </a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" id="kitchen_tools-tab" href="#kitchen_tools" data-toggle="tab">台所用品</a>
              <a class="dropdown-item" id="cleaning-tab" href="#cleaning" data-toggle="tab">掃除</a>
              <a class="dropdown-item" id="beauty-tab" href="#beauty" data-toggle="tab">美容</a>
              <a class="dropdown-item" id="daily_necessities-tab" href="#daily_necessities" data-toggle="tab">日用品</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">
              その他
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" id="not_set-tab" data-toggle="tab" href="#not_set" role="tab" aria-controls="not_set" aria-selected="false">
              未設定
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= render partial: 'tab', locals: { stocks: @stocks, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stocks, :param_name => 'stocks_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="meats_fish" role="tabpanel" aria-labelledby="meats_fish-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_meats_fish, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_meats_fish, :param_name => 'meats_fish_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="vegetables" role="tabpanel" aria-labelledby="vegetables-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_vegetables, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_vegetables, :param_name => 'vegetables_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="spices" role="tabpanel" aria-labelledby="spices-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_spices, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_spices, :param_name => 'spices_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="other_food" role="tabpanel" aria-labelledby="other_food-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_other_food, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_other_food, :param_name => 'other_food_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="drink-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_drink, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_drink, :param_name => 'drink_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="kitchen_tools" role="tabpanel" aria-labelledby="kitchen_tools-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_kitchen_tools, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_kitchen_tools, :param_name => 'kitchen_tools_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="cleaning" role="tabpanel" aria-labelledby="cleaning-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_cleaning, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
        <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_cleaning, :param_name => 'cleaning_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="beauty" role="tabpanel" aria-labelledby="beauty-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_beauty, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_beauty, :param_name => 'beauty_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="daily_necessities" role="tabpanel" aria-labelledby="daily_necessities-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_daily_necessities, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_daily_necessities, :param_name => 'daily_necessities_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_other, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_other, :param_name => 'other_page' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="not_set" role="tabpanel" aria-labelledby="not_set-tab">
          <%= render partial: 'tab', locals: { stocks: @stock_not_set, shopping_list: @shopping_list, shopping_list_name: @shopping_list_name } %>
          <div class="row">
            <div class="mx-auto">
              <%= paginate @stock_not_set, :param_name => 'not_set_page' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/navbar_bottom' %>
</div>