<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4 border_sketch">
      <h4 class="headline">在庫更新</h4>
      <div class="form-group p-3">
        <%= form_with model: @stock do |f| %>
          <%= @stock.name %>
          <%= f.range_field :percentage, in: 0..100, step: 10, list: "datalist", class: "form-control-range" %>
            <datalist id="datalist">
              <option value="0">
              <option value="10">
              <option value="20">
              <option value="30">
              <option value="40">
              <option value="50">
              <option value="60">
              <option value="70">
              <option value="80">
              <option value="90">
              <option value="100">
            </datalist>
          <%= f.number_field :stock_amount, class: "form-control" %>
          <p class="border_sketch">
            notes<br>
            残量は0~100%で設定します。<br>
            ストックは未開封で保存している数を設定します。<br>
          </p>
          <%= f.date_field :purchase_date, class: "form-control" %>

          <%= f.submit "更新", class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>
    <div class="col-8 border_sketch">
      <h4 class="headline">在庫編集</h4>
        <%= form_with model: @stock do |f| %>
          <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
          <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) , { prompt: "選択してください" }, { class: "form-control custom-select" } %>


          <label>アラート設定</label>
          <%= @stock.alert_switch %>
          <div class="custom-control custom-switch">
            <%= f.check_box :alert_switch, class: "form-check" %>
          </div>


          <%= f.date_field :alert_date, class: "form-control" %>


          <%= f.submit "修正", class: "btn btn-success btn-block" %>
        <% end %>

    </div>
  </div>
</div>