<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4">
      <div class="box-border">
        <h4 class="mt-4">
          <span class="maker">在庫更新</span>
        </h4>
        <div class="form-group p-3">
          <%= form_with model: @stock do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>商品名</td>
                <td><%= @stock.name %></td>
              </tr>
              <tr>
                <td>残量(%)</td>
                <td>
                  <%= f.range_field :percentage, in: 0..100, step: 10, list: "datalist", class: "form-control-range" %>
                  <datalist id="datalist">
                    <option value="0">
                    <option value="10">
                    <option value="20">
                    <option value="30">
                    <option value="40">
                    <option value="50">
                    <option value="60">
                    <option value="70">
                    <option value="80">
                    <option value="90">
                    <option value="100">
                  </datalist>
                </td>
              </tr>
              <tr>
                <td>ｽﾄｯｸ数</td>
                <td><%= f.number_field :stock_amount, class: "form-control", min: 0 %></td>
              </tr>
              <tr>
                <td colspan="2">
                  <p class="border small p-3 bg-light">
                    <i><u>NOTE</u></i><br>
                    残量： 0~100%で設定<br>
                    ストック： 未開封で保管している数を設定<br>
                  </p>
                </td>
              </tr>
              <tr>
                <td>購入日</td>
                <td><%= f.date_field :purchase_date, class: "form-control" %></td>
              </tr>
              <tr>
                <td colspan="2">
                  <%= f.hidden_field :category, :value => @stock.category %>
                  <%= f.submit "更新", class: "btn btn-success btn-block" %>
                </td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-8 box-border">
      <h4 class="mt-4">
        <span class="maker">在庫詳細修正</span>
      </h4>
        <%= form_with model: @stock do |f| %>
        <table class="table table-borderless mt-5">
          <tbody>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, placeholder: "商品名", class: "form-control" %></td>
            </tr>
            <tr>
              <td>カテゴリー</td>
              <td>
                <%= f.select :category, Stock.categories.keys.map {|k| [I18n.t("enums.stock.category.#{k}"), k]}, {  }, { class: "form-control custom-select" } %>
              </td>
            </tr>
            <tr>
              <td>アラート設定</td>
              <td>
                <script>
                　function change() {
                      var element;
                      if(document.getElementById("stock_alert_switch").checked) {
                          // チェックが入っていたら、フォームのdisabledを外す
                          element = document.getElementById("alert_date");
                          element.disabled = false;
                      }else {
                          // チェックが外れていたら、フォームにdisabledを付ける
                          element = document.getElementById("alert_date");
                          element.disabled = true;
                     }
                  }
                </script>
                <div class="custom-control custom-switch">
                  <%= f.check_box :alert_switch, class: "custom-control-input", onchange: "change()" %>
                  <%= f.label :alert_switch, "ホーム画面のカレンダーに、以下で設定された消費目安を表示します", class: "custom-control-label small", :as => :boolean %>
                </div>
              </td>
            </tr>
            <tr>
              <td>アラート日時</td>
              <td>
                  <%= f.date_field :alert_date, class: "form-control", id: "alert_date" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <div class="custom-control custom-switch">
                  <%= f.check_box :hidden_switch, class: "custom-control-input" %>
                  <%= f.label :hidden_switch, class: "custom-control-label small", :as => :boolean do %>
                    残量が僅かになると、ホーム画面でリスト追加候補として表示します。<br>
                    購入する予定がなければオフにしてください。
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <%= f.submit "修正", class: "btn btn-success btn-block mt-2" %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <%= link_to "「#{ @stock.name }」を削除", stock_path(@stock.id), method: :delete, class: "btn btn-danger btn-block btn-sm" %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
    </div>
  </div>
</div>