<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4">
      <div class="shopping-box box-border">
        <h4 class="text-center mt-4">
          <span class="maker">Add to Shopping List ?</span>
        </h4>

        <div class="p-3">
          <table class="table table-borderless">
            <tbody>
              <% @stock_add_list.each do |stock| %>
              <tr>
                <td><%= stock %></td>
                <td class="pr-0">
                  <u><i><%= link_to "Show", stock_path(@stock_id.ids), class: "text-dark" %></i></u>
                </td>
                <td class="pl-0">
                  <%= form_with model: @shopping_list do |f| %>
                    <%= f.hidden_field :name, :value => stock %>
                    <%= f.submit "Add", class: "btn btn-sm btn-info" %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="alert-box box-border">
        <h4 class="text-center mt-4">
          <span class="maker">! ALEART !</span>
        </h4>

        <div class="p-3">
          <table class="table table-borderless">
            <tbody>
              <% @stock_alert.each do |stock| %>
              <tr>
                <td><%= stock.name %></td>
                <td class="small">
                  購入から<span class="red-text"><%= (Date.current - stock.purchase_date).to_i %></span>日
                </td>
                <td class="pr-0">
                  <%= form_with model: @stock_alert, url: stock_path(@stock_alert.ids), method: :patch do |f| %>
                    <%= f.hidden_field :alert_switch, :value => "false" %>
                    <%= f.submit "Cold", class: "btn btn-sm btn-info" %>
                  <% end %>
                </td>
                <td class="pl-0">
                  <%= link_to "Edit", stock_path(stock.id), class: "btn btn-sm btn-success" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-8 calendar box-border">
      <%= month_calendar events: @events do |date, events| %>
        <p class="date">
          <%= date.day %>
        </p>

        <% events.each do |event| %>
          <% if event.class == Stock %>
            <%= link_to stock_path(@stocks.ids) do %>
            <button class="event-schedule-name stock-name">
              <i class="fa fa-cutlery" aria-hidden="true"></i><%= event.name %>
            </button>
            <% end %>
          <% elsif event.class != Stock && event.complete_switch == false %>
            <%= form_with model: @todo_lists, url: todo_list_path(@todo_lists.ids), method: :patch do |f| %>
              <%= f.hidden_field :complete_switch, :value => "true" %>
              <button type="submit" class="event-schedule-name todolist-name">
                <i class="fa fa-list-alt" aria-hidden="true"></i><%= event.name %>
              </button>
            <% end %>

          <% else %>
            <button class="event-schedule-name completelist-name">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i><%= event.name %>
            </button>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>