<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4 border_sketch">

    </div>

    <div class="col-8 border_sketch">

      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <% if event.class == Stock %>
            <b><%= event.name %></b>
          <% else %>
            <u><%= event.name %></u>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>