<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4">
      <div class="shopping-box border_sketch">
        <h4 class="maker text-center">Add to Shopping List ?</h4>

        <table class="table table-borderless">
          <tbody>
            <% @stock_add_list.each do |stock| %>
            <tr>
              <td><%= stock.name %></td>
              <td>
                <u><%= link_to "Show", stock_path(stock.id) %></u>
              </td>
              <td>
                <%= form_with model: @shopping_list do |f| %>
                  <%= f.hidden_field :name, :value => stock.name %>
                  <%= f.submit "Add", class: "btn btn-sm btn-info" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="alert-box border_sketch">
        <h4 class="maker text-center">! ALEART !</h4>

        <table class="table table-borderless">
          <tbody>
            <% @stock_alert.each do |stock| %>
            <tr>
              <td><%= stock.name %></td>
              <td class="small">
                購入から<span class="red-text"><%= (Date.current - stock.purchase_date).to_i %></span>日
              </td>
              <td>
                <%= form_with model: @stock_alert, url: stock_path(@stock_alert.ids), method: :patch do |f| %>
                  <%= f.hidden_field :alert_switch, :value => "false" %>
                  <%= f.submit "Cold", class: "btn btn-sm btn-info" %>
                <% end %>
              </td>
              <td>
                <%= link_to "Edit", stock_path(stock.id), class: "btn btn-sm btn-success" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-8 calendar border_sketch">

      <%= month_calendar events: @events do |date, events| %>
        <p>
          <%= date.day %>
        </p>

        <% events.each do |event| %>
          <% if event.class == Stock %>
            <%= link_to stock_path(@stocks.ids) do %>
            <p class="schedule-name">
              <i class="fa fa-cutlery" aria-hidden="true"></i><%= event.name %>
            </p>
            <% end %>
          <% else %>
            <p class="schedule-name">
              <i class="fa fa-list-alt" aria-hidden="true"></i><%= event.name %>
            </p>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>