<div class="container">
<%= render 'layouts/navbar' %>
  <div class="row">
    <div class="col-4 border_sketch">

    </div>

    <div class="col-8 border_sketch">

      <%= month_calendar events: @events do |date, events| %>
        <p>
          <%= date.day %>
        </p>

        <% events.each do |event| %>
          <% if event.class == Stock %>
            <p class="schedule-name">
              <i class="fa fa-cutlery" aria-hidden="true"></i><%= event.name %>
            </p>
          <% else %>
            <p class="schedule-name">
              <i class="fa fa-list-alt" aria-hidden="true"></i><%= event.name %>
            </p>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>