<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SeikatsuNotes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="text-center">
        <%= link_to "LogIn", new_user_session_path %>
        <%= link_to "LogOut", destroy_user_session_path, method: :destroy %>
      </div>


    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
