<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SeikatsuNotes</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8cec986811.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&family=Permanent+Marker&family=Zen+Maru+Gothic&family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col mx-md-5 mt-3 mb-1 my-md-4 my-xl-5">
            <%= link_to image_tag('seikatsu_notes_logo.png'), home_path %>
          </div>

          <% if !user_signed_in? %>
          <div class="col header-item text-right mt-3 mt-sm-4 m-lg-5 mt-md-5">
            <%= link_to "新規登録", new_user_registration_path, class: "btn border-dark" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn border-dark" %>
            <%= link_to "お試し", "/", class: "btn border-dark" %>
          </div>
          <% else %>
          <div class="col text-right mt-3 mt-md-4">
            <%= link_to users_information_edit_path, class: "btn btn-lg config-btn" do %>
              <i class="fas fa-cogs fa-2x"></i>
            <% end %>
          </div>
          <% end %>

        </div>
      </div>


    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="row">
      <div class="mx-auto">
        <%= link_to stocks_path, class: "navbar-list" do %>
          <button class="navbar-button">
            <i class="fa fa-home fa-xs fa-navbar-list" aria-hidden="true"></i>Home
          </button>
        <% end %>
      </div>
    </footer>
  </body>
</html>
